<div class="container">
    <section class="container-header">
        <span (click)="back()" class="container-header-icon">
            <fa-icon [icon]="faBackward"></fa-icon>
        </span>
        <h2 class="container-title">Register</h2>
    </section>

    <section class="container-content">
        <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()">

            <h3 class="form-title">Register Information</h3>

            <div class="input-wrapper">
                <label class="form-label" for="username">Username</label>
                <input class="form-input" [ngClass]="username?.invalid && (username?.touched || username?.dirty) ?
            'form-input invalid' : 'form-input'" formControlName="username" id="username" />
                <div *ngIf="username?.errors?.['required']" class="input-error">
                    required
                </div>
                <div *ngIf="username?.errors?.['minlength']">
                    <span class="input-error">more length !!!</span>
                </div>
                <div *ngIf="username?.valid">
                    <span class="input-error">perfect name:3 ... for now</span>
                </div>
            </div>

            <div class="input-wrapper">
                <label class="form-label" for="phone">Phone</label>
                <input class="form-input" [ngClass]="phone?.invalid && (phone?.touched || phone?.dirty) ?
            'form-input invalid' : 'form-input'" formControlName="phone" name="phone" required />
                <div *ngIf="phone?.errors?.['required']" class="input-error">
                    required
                </div>
                <div *ngIf="phone?.errors?.['minlength']">
                    <span class="input-error">not enough numbers..</span>
                </div>
                <div *ngIf="phone?.errors?.['maxlength']">
                    <span class="input-error">more than 10 characters ?</span>
                </div>
                <div *ngIf="phone?.valid">
                    <span class="input-error">hope somebody picks up...</span>
                </div>
            </div>

            <div class="input-wrapper">
                <label class="form-label" for="email">Email</label>
                <input class="form-input" [ngClass]="email?.invalid && (email?.touched || email?.dirty) ?
            'form-input invalid' : 'form-input'" formControlName="email" id="email" type="email" />
                <div *ngIf="email?.errors?.['required']" class="input-error">
                    required
                </div>
                <div *ngIf="email?.errors?.['email']" class="input-error">
                    this isn't an email
                </div>
                <div *ngIf="email?.valid">
                    <span class="input-error">wonderful</span>
                </div>
            </div>

            <div class="input-wrapper">
                <label class="form-label" for="password">Password</label>
                <input class="form-input" [ngClass]="password?.invalid && (password?.touched || password?.dirty) ?
            'form-input invalid' : 'form-input'" formControlName="password" id="password" type="password" />
                <div *ngIf="password?.errors?.['required']" class="input-error">
                    required
                </div>
                <div *ngIf="password?.valid">
                    <span class="input-error">very secure indeed</span>
                </div>
            </div>

            <div class="input-wrapper">
                <label class="form-label" for="rePassword">Re-password</label>
                <input class="form-input" [ngClass]="rePassword?.invalid && (rePassword?.touched || rePassword?.dirty) ?
            'form-input invalid' : 'form-input'" formControlName="rePassword" id="rePassword" type="password" />
                <div *ngIf="rePassword?.errors?.['required']" class="input-error">
                    required
                </div>
                <div *ngIf="rePassword?.valid">
                    <span class="input-error">they match!</span>
                </div>
            </div>

            <!-- <h3 class="form-title">Address Information</h3>
            <div formGroupName="fullAddress" class="form nested">

                <div class="input-wrapper">
                    <label class="form-label" for="country">Country</label>
                    <input class="form-input" [ngClass]="country?.invalid && (country?.touched || country?.dirty) ?
                'form-input invalid' : 'form-input'" formControlName="country" name="country" />
                    <div *ngIf="country?.errors?.['required']" class="input-error">
                        required
                    </div>
                    <div *ngIf="country?.valid">
                        <span class="input-error">great country, never been there</span>
                    </div>
                </div>

                <div class="input-wrapper">
                    <label class="form-label" for="city">City</label>
                    <input class="form-input" [ngClass]="city?.invalid && (city?.touched || city?.dirty) ?
                'form-input invalid' : 'form-input'" formControlName="city" name="city" />
                    <div *ngIf="city?.errors?.['required']" class="input-error">
                        required
                    </div>
                    <div *ngIf="city?.valid">
                        <span class="input-error">i know where u live now</span>
                    </div>
                </div>

                <div class="input-wrapper">
                    <label class="form-label" for="address">Address</label>
                    <input class="form-input" [ngClass]="address?.invalid && (address?.touched || address?.dirty) ?
                'form-input invalid' : 'form-input'" formControlName="address" name="address" />
                    <div *ngIf="address?.errors?.['required']" class="input-error">
                        required
                    </div>
                    <div *ngIf="address?.valid">
                        <span class="input-error">awesome</span>
                    </div>
                </div>

                <div class="input-wrapper">
                    <label class="form-label" for="zip">Zip</label>
                    <input class="form-input" [ngClass]="zip?.invalid && (zip?.touched || zip?.dirty) ?
                'form-input invalid' : 'form-input'" formControlName="zip" name="zip" />
                    <div *ngIf="zip?.errors?.['required']" class="input-error">
                        required
                    </div>
                    <div *ngIf="zip?.errors?.['minlength']">
                        <span class="input-error">no zip codes like this found</span>
                    </div>
                    <div *ngIf="zip?.valid">
                        <span class="input-error">perfect</span>
                    </div>
                </div>
            </div> -->

            <button type="submit" [disabled]="!registerForm.valid"
                [ngClass]="registerForm.valid ? 'btn submit' : 'btn unavailable'">Register</button>

            <h4 class="form-title">Already registered? <a class="click-here" routerLink="../login">Click here...</a>
            </h4>
        </form>
    </section>
</div>