<!-- COMPONENT COULD BE TURNED INTO PROFILE COMPONENT

    TODO: NEW CONTACT DETAILS PAGE!
-->

<div class="container">
    <section class="container-header">
        <span (click)="back()" class="container-header-icon">
            <fa-icon [icon]="faBackward"></fa-icon>
        </span>
        <h2 class="container-title">Contact</h2>
        <!-- <button type="button" class="btn remove container-header-icon">Delete <fa-icon [icon]="faRemove"></fa-icon> -->
        <!-- </button> -->
    </section>
    <section class="container-content">
        <div class="loader-wrapper">
            <app-loader *ngIf="!contact"></app-loader>
        </div>
        <section *ngIf="contact" class="details-card">
            <div class="details-image">
                <img class="details-image-img"
                    [src]="'assets/userNoImage.png'"
                    alt="assets/userNoImage.png">
            </div>
            <section class="details-info">
                <h2 class="font-main details-name">{{contact.name}}</h2>
                <div class="info-main">
                    <p class="font-light">Name</p>
                    <p class="font-mid">{{contact.name}}</p>
                    <p class="font-light">Number</p>
                    <p class="font-mid">{{contact.number}}</p>
                    <!-- <p class="font-light">Group</p>
                    <p class="font-mid">Family</p> -->
                    <p class="font-light">Address</p>
                    <p class="font-mid">{{contact.address}}</p>
                    <p class="font-light">City</p>
                    <p class="font-mid">{{contact.zip}}</p>
                    <p class="font-light">Country</p>
                    <p class="font-mid">{{contact.country}}</p>
                </div>
            </section>
            <div class="contact-actions">
                <button [routerLink]="'../../edit/' + contact.id" type="button" class="btn purple">
                    <fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button type="button" (click)="onDelete()" class="btn red">
                    <fa-icon [icon]="faRemove"></fa-icon>
                </button>
            </div>
            
        </section>
    </section>
</div>