<!-- COMPONENT COULD BE TURNED INTO PROFILE COMPONENT

    TODO: NEW CONTACT DETAILS PAGE!
-->

<div class="container">
    <section class="container-header">
        <span (click)="back()" class="container-header-icon">
            <fa-icon [icon]="faBackward"></fa-icon>
        </span>
        <h2 class="container-title">Gosho 2</h2>
        <!-- <button type="button" class="btn remove container-header-icon">Delete <fa-icon [icon]="faRemove"></fa-icon> -->
        <!-- </button> -->
    </section>
    <section class="container-content">
        <section class="details-card">
            <div class="details-image">
                <img class="details-image-img"
                    src="https://t3.ftcdn.net/jpg/02/99/04/20/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg"
                    alt="">
            </div>
            <section class="details-info">
                <h2 class="details-name">Georgi</h2>
                <div class="info-main">
                    <p class="details-detail">Phone</p>
                    <p class="detail-info">0888818238</p>
                    <p class="details-detail">Email</p>
                    <p class="detail-info">georgi@abv.bg</p>
                    <p class="details-detail">Group</p>
                    <p class="detail-info">Family</p>
                    <p class="details-detail">Address</p>
                    <p class="detail-info">99 Meadow Street</p>
                    <p class="details-detail">City</p>
                    <p class="detail-info">San Francisco</p>
                    <p class="details-detail">Country</p>
                    <p class="detail-info">United States</p>
                </div>
            </section>
            <div class="contact-actions">
                <button routerLink="../../edit/2" type="button" class="btn purple">
                    <fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button type="button" class="btn red">
                    <fa-icon [icon]="faRemove"></fa-icon>
                </button>
            </div>
        </section>
    </section>
</div>