<div class="container">
    <section class="container-header">
        <span class="container-header-icon" (click)="back()">
            <fa-icon [icon]="faBackward"></fa-icon>
        </span>
        <h2 class="container-title">Contacts List</h2>
        <a type="button" class="btn add" routerLink="create">Add <fa-icon [icon]="faAdd"></fa-icon></a>
    </section>

    <section class="container-content">
        <div class="main-main">
            <app-contacts-list-item *ngFor='let contact of contacts' [contact]='contact'>
            </app-contacts-list-item>
        </div>
        <div class="loader-wrapper">
            <app-loader *ngIf="!contacts"></app-loader>
        </div>
        <div class="no-data" *ngIf="contacts?.length === 0">
            <p>There aren't any contacts yet!</p>
        </div>

    </section>

</div>