.btn {
    cursor: pointer;
    background-color: transparent;
    padding: 1rem;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 1.2rem;
}

.green {
    background-color: var(--color-call);
    height: 3.5rem;
    width: 3.5rem;
}

.blue {
    background-color: var(--color-message);
    height: 3.5rem;
    width: 3.5rem;
}

.purple {
    background-color: var(--color-text);
    height: 3.5rem;
    width: 3.5rem;
}

.red {
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--color-danger);
}

.submit {
    background-color: var(--color-call);
    border-radius: 1rem;
    margin: 2rem;
}

.submit:hover {
    background-color: var(--color-active);
}

.unavailable {
    background-color: var(--color-danger);
    border-radius: 1rem;
    margin: 2rem;
    cursor: auto;
}

.add {
    background-color: var(--color-call);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.85rem;
}

.danger {
    background-color: var(--color-danger);
    border-radius: 1rem;
    margin: 0 1rem;
}
