.container-header {
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 1px solid var(--color-shadow);
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header-icon {
    width: 4rem;
    cursor: pointer;
}

.container {
    min-height: 100vh;
    position: relative;
    animation-name: fadeInRight;
    animation-duration: 0.5s;

}

@media screen and (min-width: 756px) {
    .container-header {
        padding: 1rem 1rem;
    }

    .container {
        padding-bottom: 0;
        animation-name: fadeIn;
        animation-duration: 0.5s;
    }

    .container-content {
        margin-left: 1rem;
    }
}