.contact-card {
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    border-radius: 0.8rem;
    box-shadow: 1px 6px 12px 4px var(--color-shadow);
    gap: 1.2rem;
    cursor: pointer;
    background: var(--color-card-background);
    animation-name: fadeIn;
    animation-duration: 0.5s;
}


.card-image-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.contact-card:hover {
    color: white;
    background: var(--color-active);
    box-shadow: 12px 10px 0px 0px var(--color-shadow);
}

.contact-card:hover>.card-info>* {
    color: white;
}