<div class="container">
    <section class="container-header">
        <span (click)="back()" class="container-header-icon">
            <fa-icon [icon]="faBackward"></fa-icon>
        </span>
        <h2 class="container-title">Login</h2>
    </section>

    <section class="container-content">
        <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">

            <h3 class="form-title">Login Information</h3>

            <div class="input-wrapper">
                <label class="form-label" for="name">Email or username</label>
                <input class="form-input" [ngClass]="username?.invalid && (username?.touched || username?.dirty) ?
            'form-input invalid' : 'form-input'" formControlName="username" id="name" />
                <div *ngIf="username?.errors?.['required']" class="input-error">
                    required
                </div>
            </div>

            <div class="input-wrapper">
                <label class="form-label" for="password">Password</label>
                <input class="form-input" [ngClass]="password?.invalid && (password?.touched || password?.dirty) ?
            'form-input invalid' : 'form-input'" formControlName="password" type="password" name="password" required />
                <div *ngIf="password?.errors?.['required']" class="input-error">
                    required
                </div>
            </div>


            <button type="submit" [disabled]="!loginForm.valid"
                [ngClass]="loginForm.valid ? 'btn submit' : 'btn unavailable'">Login</button>

            <h4 class="form-title">Not registered yet? <a class="click-here" routerLink="../register">Click here...</a></h4>
        </form>
    </section>
</div>